<!DOCTYPE html>
<html>
<head>
<style>
.container {
  position: relative;
  width: 75%;
  margin-left: 20px;
}

.VITRI {
  position: absolute;
  width: 150px;
  height: 150px;
  text-align: center;
  right: 40%;
  bottom: 35%;

}
#a2 {
  position: absolute;
  top: 45%;
  left:35%;
  text-align: center;
}
#b2 {
  position:absolute;
  bottom: 0;
  right :0;
  border: 2px solid rgb(197, 86, 197);
}
  
img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
</style>
</head>
<body>

<h2>Image Text</h2>

<p>Center text in image:</p>

<div class="container" style="border: 1px solid">
  <img src="nhathonui.jpg" alt="Cinque Terre" width="1000" height="300">
  <div class="VITRI" style="border: 1px solid; background-color: yellow">
    <span id="a2">VI TRI</span>  
  </div>
  <div>
    <span id="b2">VITRI2</span>
  </div>
</div>
</body>
</html>
